*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    margin-left: 100px;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 200px;
    border-radius: 50%;
}
.logo img{
    border-radius: 50%;
    border: 3px solid greenyellow;
}
nav {
    background-color: blueviolet;
}
main{
    background-color: burlywood;
}
footer{
    background-color: rgb(16, 17, 15);   
}
footer p{
    text-align: center;
    color: rgb(25, 5, 158);
    line-height: 22px;
}

p{
    text-align: justify;
}
img{
    width: 100%;
    margin: auto;
}
.imagen{
    width: 50%;
    background-color: blue;
   /*  padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 40px; */
    padding: 30px 40px 30px 40px;
    border: 5px solid rgb(17, 224, 210);
   /*  margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px; */
    margin: 40px auto;
    /* outline: 7px double blue; */
    box-shadow: 9px 9px 9px 9px blue;
}
.color{
    padding: 30px 40px 30px 40px;
    border: 5px solid rgb(17, 224, 210);
    margin: 20px auto;
    outline: 3px solid rgb(92, 47, 255);    
    box-shadow: 9px 9px 9px 9px blue;
}
h1{
    color: blue;
    text-shadow: 9px 9px 9px #da1111;
    padding: 10px;
}
h2{
    color: aqua;
}
section > h2{
    color: blue;
    /* hijo directo de */
}
.imagen+p{
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Parrafo que continua despues */
}
.bloque img{
    width: 250px;
    padding: 30px;
    display: block;
}
nav{
    padding: 20px;
    text-align: center;
}
nav a{
    background-color: rgb(0, 217, 255);
    border-radius: 30px;
    padding: 5px;
    color: blueviolet;
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover{
    background-color: rgb(52, 56, 48);
    color:rgb(206, 206, 206) ;
    transition-delay: 80ms;
}